.modal{
	&-overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0, 0.4);
		// z-index:0;
	}

	&-wrapper{
		width: 100%;
		max-width: 1050px;
		height:100%;
		position:relative;
		z-index: 3;
		display: flex;
    align-items: stretch;
		
		
		& > div{
			height:100%;
		}
	}

	&-container{
		pointer-events: none;
		opacity:0;
		transition: all $tt_base;
		position:fixed;
		top: 60px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		&.is-active{
			pointer-events: all;
			opacity: 1;
		}
		.tile{
			overflow-y:auto;
			height:100%;
			background-color:#F5F6FA;
		}
	}
}

@media (min-width: 768px){
	.modal-container{
		top: 0px;
		z-index: 5;
		padding: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
		.tile{
			background-color: #fff;
			height: auto;
		}
	}
	.modal-wrapper{
    align-items: stretch;
		height: auto;
		&--md{
			max-width: 560px;
		}
	}
}