// colors
$c_primary: #151408;
$c_secondary: #FCDE51;

$c_blue: #2F80ED;

$c_shade_1: #C8C8C8;
$c_shade_2: #B2B2B0;
$c_shade_4: #858580;
$c_shade_8: #DFE1EB;
$c_shade_9: #F5F6FA;
$c_shade_10: #292201;

// font size
$fs_sm: 12px;
$fs_base: 15px;
$fs_lg: 19px;
$fs_xl: 24px;

// transition time
$tt_base: 0.3s;