.table{
	width: 100%;
	table-layout:fixed;
	thead{
		text-align: left;
		color: #6F6E68;
		text-transform: uppercase;
		font-weight: 400;
		th{
			padding-right:16px;
			font-size: $fs_sm;
		}
	}
	tbody{
		td{
			vertical-align: baseline;
			border-bottom: 1px solid #DFE1EB;
			padding: 24px 0;
			font-size: $fs_sm;
			padding-right: 16px;
		}
		&.tbody--base{
			td{
				font-size: $fs_base;
			}
		}
	}
}

.table-link{
	font-weight:bold;
	color: #858580;
}
.table-icon{
	width: 16px;
	height: 16px;
	margin-right:8px;
	img,svg{
		width:100%;
		height:100%;
		object-fit: contain;
	}
}

.table__adnotation{
	text-transform: uppercase;
	color: #8F92A0;
	font-size: $fs_sm;
	span{
		color: #151408;
	}
}


.pseudo-table{
	&-row{
		display: flex;
		flex-wrap:wrap;
		&.hidden{ display:none }
		&__item{
			font-size: $fs_base;
		}
		&__item--heading{
			text-align: left;
			color: #6F6E68;
			text-transform: uppercase;
			font-weight: 600;
			font-size: $fs_sm;
		}
		&--tile{
			background: #fff;
			box-shadow: 0px 3px 6px 0 rgb(0 0 0 / 0.06);
			border: 1px solid #DFE1EB;
			padding: 32px 24px;
			border-radius: 6px;
			margin-bottom: 16px;

		}
	}
	&-icon{
		width: 16px;
		height: 16px;
		object-fit: contain;
	}
	&-action{
		img, svg{
			width:12px;
			height: 12px;
			object-fit: contain;
		}

		color: $c_shade_4;
		font-size: $fs_sm;
	}
}



.pseudo-table--logs{
	.pseudo-table-row__item{
		&:nth-child(1){	width: 20% }
		&:nth-child(2){	width: 25% }
		&:nth-child(3){	width: 20% }
		&:nth-child(4){	width: 20% }
		&:nth-child(5){	width: 15% }
	}
}

.pseudo-table--user-list{
	.pseudo-table-row__item{
		&:nth-child(1){	width: 50% }
		&:nth-child(2){	width: 50% }
		&:nth-child(3){	width: 100% }
		&:nth-child(4){	width: 100% }
	}
}


.pseudo-table--clients{
	.pseudo-table-row__item{
		&:nth-child(1){	width: 50% }
		&:nth-child(2){	width: 50% }
		&:nth-child(3){	width: 100% }
		&:nth-child(4){	width: 50% }
		&:nth-child(5){	width: 50% }
	}
}

.table--invoices{
	&-2{
		tbody tr{
			td:nth-child(3){
				width: 80px;
			}
		}
	}
}

@media (min-width: 768px){
	.table{
		tbody{
			td:not(.border-b){
				border-bottom: 1px solid transparent;
			}
		}
	}
	// .table--row-tiles{
	// 	border-collapse: collapse;
	// 	tbody tr{
	// 		td{
	// 			background: #fff;
	// 			border-top: 1px solid #DFE1EB;
	// 			border-bottom: 1px solid #DFE1EB;
	// 		}
	// 		td:nth-child(1){
	// 			padding-left: 24px;
	// 			border-top-left-radius: 6px;
	// 			border-bottom-left-radius: 6px;
	// 			border: 1px solid #DFE1EB;
	// 			border-right: none;
	// 		}
	// 		td:last-child{
	// 			padding-right: 24px;
	// 			border-top-right-radius: 6px;
	// 			border-bottom-right-radius: 6px;
	// 			border: 1px solid #DFE1EB;
	// 			border-left: none;
	// 		}
	// 	}
	// }
	.pseudo-table--clients{
		.pseudo-table-row__item{
			&:nth-child(1){	width: 30% }
			&:nth-child(2){	width: 40% }
			&:nth-child(3){	width: 30% }
			&:nth-child(4){	width: 30% }
			&:nth-child(5){	width: 40% }
		}
	}
	.pseudo-table--user-list{
		.pseudo-table-row__item{
			&:nth-child(1){	width: calc(40% - 40px) }
			&:nth-child(2){	width: 35% }
			&:nth-child(3){	width: 25% }
			&:nth-child(4){	width: 40px }
		}
	}
	.table--invoices{
		&-2{
			thead tr{
				th:nth-child(1){
					width: 40px;
				}
				th:nth-child(3){
					width: 80px;
				}
				th:nth-child(4){
					width: 140px;
				}

				th:nth-child(5){
					width: 60px;
				}
			}
		}
		&-3{
			thead tr{
				th:nth-child(1){
					width: 40px;
				}
				th:nth-child(3){
					width: 80px;
				}
				th:nth-child(4){
					width: 120px;
				}

				th:nth-child(5){
					width: 100px;
				}
				th:nth-child(6){
					width: 70px;
				}
			}
		}
	}
}
@media (min-width: 1280px){
	.table{
		tbody{
			&:before {
				content:"@";
				display:block;
				line-height:12px;
				text-indent:-99999px;
			}
			td{ 
				font-size: $fs_base;
				padding: 12px 0;
				padding-right: 12px;
			}
		}
	}

	.table--invoices{
		thead tr{
			th:nth-child(2){
				width: 20%;
			}
			th:nth-child(3){
				width: 15%;
			}
			th:nth-child(4){
				width: 15%;
			}
			th:nth-child(5){
				width: 10%;
			}
		}

		&-2{
			thead tr{
				th:nth-child(1){
					width: 40px;
				}
				th:nth-child(2){
					width: 59%;
				}
				th:nth-child(5){
					width: 60px;
				}
			}
		}
		&-3{
			thead tr{

				th:nth-child(3){
					width: 100px;
				}
				th:nth-child(4){
					width: 200px;
				}
			}
		}
	}
	.table--payments{
		thead tr{
			th:nth-child(2){
				width: 50%;
			}
			th:nth-child(3){
				width: 15%;
			}
		}
	}

	.pseudo-table{
		&-row{
			&.xl\:flex{ display:flex }
			&--tile{
				padding: 14px 0;
	
				.pseudo-table-row__item:nth-child(1){
					padding-left: 24px;
				}
				.pseudo-table-row__item:last-child{
					padding-right: 24px;
				}
			}
		}
	}

	.pseudo-table--user-list{
		.pseudo-table-row__item{
			&:nth-child(1){	width: 25% }
			&:nth-child(2){	width: 25% }
			&:nth-child(3){	width: 25% }
			&:nth-child(4){	width: 25% }
		}
	}

	.pseudo-table--clients{
		.pseudo-table-row__item{
			&:nth-child(1){	width: 20% }
			&:nth-child(2){	width: 20% }
			&:nth-child(3){	width: 20% }
			&:nth-child(4){	width: 20% }
			&:nth-child(5){	width: 20% }
		}
	}
}