.impersonation--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #2e7fec;
  color: #fff;
  font-size: 14px;

  span {
    font-weight: 700;
  }
}